<div class="container" ng-controller="HomeController as Home">
    <div class="container example-one">
      <div class="title">All scrolling</div>
      <header class="example-one-header scroll">
        <span class="logo">Logo</span>
        <nav class="vertical-align-middle">
          <span class="nav-item">Blog</span>
          <span class="nav-item">Portfolio</span>
          <span class="nav-item">Downloads</span>
          <span class="nav-item">About</span>
          <span class="nav-item">Contact</span>
          <span class="nav-item">Blog</span>
          <span class="nav-item">Portfolio</span>
          <span class="nav-item">Downloads</span>
          <span class="nav-item">About</span>
          <span class="nav-item">Contact</span>
          <span class="nav-item">Blog</span>
          <span class="nav-item">Portfolio</span>
          <span class="nav-item">Downloads</span>
          <span class="nav-item">About</span>
          <span class="nav-item">Contact</span>
        </nav>
      </header>
    </div>
</div>
<!-- http://iamsteve.me/blog/entry/horizontal-scrolling-responsive-menu -->