<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ head.title }}</title>

    <link rel="stylesheet" href="../assets/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/ngDialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    
    <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../assets/vendor/angular/angular.min.js"></script>
    <script src="../assets/vendor/ngDialog/js/ngDialog.min.js"></script>
    <script src=></script>
    <script src=></script>
    
    <script src="../assets/js/main.min.js"></script>
    <script src="../assets/js/services.min.js"></script>
    <script src="../assets/js/controllers.min.js"></script>
    
</head>
<body ng-app="Xperiocity">
    {{ >homepage }}
</body>
</html>