.content {
    font-family: arial;
    font-weight: bold;
    width: 900px;
    margin: 0px auto;
}

.content > div > img {
    width: 100%;
}

.imgzoom-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    overflow: auto;
    z-index: 1200;
    background-color: #fff;
}

#imgzoom-target{
    width: 100%;
}

#zoom-buttons{
    position: fixed;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 2.0rem;
    font-weight: bold;
}

#zoom-buttons > span{
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}

#zoom-buttons > span:hover{
    color: #ff0;
    background-color: #000;
}